Source: hc
Section: misc
Priority: optional
Maintainer: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://archive.pault.ag/
Vcs-Git: git://github.com/paultag/hc.git
Vcs-Browser: https://github.com/paultag/hc

Package: hc
Architecture: all
XC-Package-Type: udeb
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: udebs for hairycandy
 udebs and stuff.
